* {
    transform-style: preserve-3d;
}
body {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 46, 46);
}
#hud {
    position: fixed;
    z-index: 1000;
    user-select: none;
    outline: 3px double rgb(255, 255, 255);
    color: white;
    margin: 5px;
    line-height: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#viewport {
    width: 800px;
    height: 550px;
    overflow: hidden;
    perspective: 460px;
    background-color: rgb(60, 60, 60);
}
#camera { 
    position: relative;
    left: 0px;
    top: 270px;
}
#scene-wrapper {
    transform-origin: 0 0;
}
#tree-wrapper {
    position: absolute;
    transform: translateY(-100px) translateZ(17px);
}
#tree-wrapper-2 {
    position: absolute;
    transform: translateY(-200px) translateZ(17px);
}
#tree, #tree2 {
    width: 50px;
}