*{
    transform-style: preserve-3d;
    box-sizing: border-box;
}
#viewport { 
    width: 600px;
    height: 400px;
    overflow: hidden;
    perspective: 500px;
    background-color: rgb(60, 60, 60);
}
#camera { 
    position: relative;
    left: 0px;
    top: 270px;
}
#scene-wrapper {
    transform-origin: 0 0;
    transition: transform .4s;
}
#tree-wrapper {
    position: absolute;
    transform: translateY(-100px) translateZ(17px);
}
#tree-wrapper-2 {
    position: absolute;
    transform: translateY(-200px) translateZ(17px);
}
#tree {
    width: 50px;
}
#tree2 {
    width: 50px;
}

@keyframes opening-perspective {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(80deg);
    }
}