*{
    transform-style: preserve-3d;
}
#viewport { 
    width: 600px;
    height: 400px;
    overflow: hidden;
    perspective: 400px;
    background-color: rgb(60, 60, 60);
}
#camera { 
    width: 0px;
    height: 0px;
    position: relative;
    left: 200px;
    top: 150px;
}
#scene-wrapper {
    width: 4000px;
    height: 4500px;
    transform-origin: 0 0;
    transition: transform .4s;
    transform: rotateX(80deg);
}

#scene {
    width: 4000px; height: 4000px; 
    transform-origin: 0 0;

}

@keyframes opening-perspective {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(80deg);
    }
}